{
	"port" : 8080,
	"username" : "you login as",
	"password" : "you password",
	"repositories" : [
			{
   			"name" : "ppalludan/jook",
   			"process" : [
   				{
          "name" : "list files",
   					"exec" : "ls -ls"
   				},
   				{
                  "name" : "list other",
   					"exec" : "ls * bat"
   				}
   			]
   		}
   ]
}
