{
    "port": 8080,
    "username": "a",
    "password": "b",
    "repositories": [{
        "name": "git/repository",
        "process": [{
                "name": "list files",
                "exec": "ls -ls"
            },
            {
                "name": "list other",
                "exec": "ls * bat"
            }
        ]
    }]
}
